<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>My Opthamologist</title>
        <link href="{{ url_for('static', filename = 'css/navbar.css') }}" rel = "stylesheet" type = "text/css">
        <link href="{{ url_for('static', filename = 'css/homepage.css') }}" rel = "stylesheet" type = "text/css">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename = 'images/home_logo.jpg') }}" alt="Logo" width="40" height="40"> My Opthamologist</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MyOttiglass</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/homepage">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/account">MyAccount</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Prescriptions</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="/myprescription">MyPrescriptions</a></li>
                                    <li><hr class="dropdown-divider" id = "row"></li>
                                    <li><a class="dropdown-item" href="/newprescription" id = "prescriptions">New prescriptions</a></li>

                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-success" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link logout-btn" aria-current="page" href="/logout">Logout<img style="margin-left: 20px; width:30px; height: 30px;" src="{{ url_for('static', filename = 'images/logout.png') }}" alt="logout"></a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class = "container">
            <header class = "header">
                <div class = "content">
                    <h1><span>Get Quick</span><br />Ophthalmologist pro</h1>
                    <p>
                        Welcome to ophthalmologist pro, your dedicated platform for creating and managing eye examination prescriptions with ease. 
                        Our user-friendly interface allows healthcare professionals to generate new eye prescriptions seamlessly. 
                        Patients can conveniently access and review their prescriptions, ensuring a smooth and efficient experience. 
                        Empower yourself with ophthalmologist pro for streamlined eye care management, putting your vision health at the forefront.
                    </p>
                    <div class="github">
                        <a href = "https://github.com/kekko3121/ophthalmologist-pro" alt = "github project"><span><i class="ri-github-fill"></i></span></a>
                    </div>
                </div>
                <div class = "image">
                    <span class = "image__bg"></span>
                    <img src = "{{ url_for('static', filename = 'images/visitaoculistica.jpg') }}" alt="eye examination">
                    <div class = "image__content image__content__1">
                        <span><i class="ri-user-3-line"></i></span>
                        <div class="details">
                            <h4>1520+</h4>
                            <p>Active Clients</p>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                // Read the condition value directly from Flask
                let user = "{{current_user.getRole()}}";
                // If your condition is true, hide the elements with the IDs "row" and "prescriptions"
                if (user !== 'doctor') {
                    document.getElementById("row").style.display = "none";
                    document.getElementById("prescriptions").style.display = "none";
                }
            });
        </script>
    </body>
</html>