<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/login.css') }}" type = "text/css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <div class = "img-container">
        <img src = "{{ url_for('static', filename = 'images/logo.jpg') }}" width = "110px" height = "110px">
    </div>
    <div class = "login-box">
        <h1>Login User</h1>
        <form name= "login" method = "POST">
            <label for = "username">Username:</label>
            <input type = "text" name = "username"  id ="username" placeholder="Enter your username">
            <div id = "username_error"></div>
            <label for = "password">Password:</label>
            <input type = "password" name = "password" id = "password" placeholder = "Enter your password">
            <div id = "pass_error"></div>
            <div class = "check">
                <input type = "checkbox" name = "remember" id = 'remember'>
                <label for = "remember">Remember</label>
            </div>
            <input type = "submit" id = "submit" value = "Login">
            <div id="error-message"></div>
        </form>
    </div>
    
    <script src = "{{ url_for('static', filename = 'js/login.js') }}"></script>

</body>
</html>