<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/login.css') }}" type = "text/css">
    <title>Login</title>
</head>
<body>
    <div class = "img-container">
        <img src = "{{ url_for('static', filename = 'images/logo.jpg') }}" width = "110px" height = "110px">
    </div>
    <div class = "login-box">
        <h1>Login User</h1>
        <form name= "login" method = "POST" action = "">
            <label for = "username">Username:</label>
            <input type = "text" name = "username"  id ="username" placeholder="Enter your username">
            <div id = "username_error">Please fill up your Username</div>
            <label for = "password">Password:</label>
            <input type = "password" name = "password" id = "password" placeholder = "Enter your password">
            <div id = "pass_error">Please fill up your password</div>
            <div class = "check">
                <input type = "checkbox" name = "remember">
                <label for = "remember">Remember</label>
            </div>
            <input type = "submit" value = "Login">
        </form>
    </div>

    <script>
        //Validation Code for input field form

        //variables to store form data
        const username = document.querySelector('#username');
        const password = document.querySelector('#password')
        const submit = document.querySelector('#submit');

        //interacts with the click event of the login button
        submit.addEventListener('click', (event) => {
            event.preventDefault();

            //Username Validation
            if(username.value.trim() == ''){
                error(username, '#username_error');
            }

            //password Validation
            if(password.value.trim() == ''){
                error(password, '#pass_error');
            }
        });

        function error(element, message){
            element.style.border = '2px red solid';
            const parent = element.parentElement;
            const username_error = parent.querySelector(message);
            username_error.style.display = 'block';
        }
        
    </script>
</body>
</html>