a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #333; /* Imposta il colore del testo del link */
}

h1{
    font-family: "Anonymous Pro", monospace;
    color: black;
    opacity: 100%;
}



p{
    font-family: "Montserrat", sans-serif;
    color: black;
    opacity: 100%;
}

@media (max-width: 768px) {
    .carousel-indicators {
        display: none;
    }
}

.carousel-control-prev, .carousel-control-next {
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}