@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animation {
    background: #282c34;
    font-size: 2vmin;
    font-family: JetBrains Mono, monospace;
    height: 60vh;
    width: 57vw;
    display: inline-flex;
    align-items: center;
    color: #e4bb68;
    position: absolute;
    transform: translate(2%, -20%);
}

.home{
    background: #282c34;
    margin: 0;
    overflow: hidden;
    position: static;
}

.string {
    text-align: center;
    white-space: nowrap;
    top: 7.9vmin;
    position: relative;
    animation: move 4s infinite;
}

.prog::after {
    content: '';
    position: absolute;
    height: 27vmin;
    width: 65vmin;
    transform: translate(-66vmin, -24.5vmin);
    top: 40%;
    background: #282c34;
}

.prog::before {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 70vmin;
    transform: translate(-64vmin, 5vmin);
    background: #282c34;
}

.en {
    color: #fa8231;
}

.it {
    color: white;
}

.es {
    color: #c678dd;
}

.cn {
    color: #a9b0bd;
}

@keyframes move {
    25% {
        transform: translatey(-5.8vmin);
        opacity: 1;
    }
    50% {
        transform: translatey(-11vmin);
    }
    75% {
        transform: translatey(-16.5vmin);
    }
}

.login {
    background-color: #282c34;
    color: #e4bb68;
    padding: 35px 35px;
    text-align: center;
    text-decoration: lawngreen;
    display: compact;
    font-size: 25px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 35px;
    transition-duration: 0.4s;


}

.signup {
    background-color: #282c34;
    color: #e06c75;
    padding: 35px 35px;
    text-align: center;
    text-decoration: lawngreen;
    display: compact;
    font-size: 25px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 35px;
    transition-duration: 0.4s;


}


.login:hover {
    background-color: #e06c75 ; /* Green */
    color: #61afef;
}

.signup:hover {
    background-color: #e4bb68 ;
    color: #61afef;
}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
                0 0 1em hsla(320, 100%, 50%, 0.2),
                0 0 0.125em hsla(320, 100%, 60%, 0.3),
                -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsl(230, 80%, 90%);
        text-shadow:
                0 0 1em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 60%, 0.5),
                -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow:
                0 0 1em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 90%, 0.5),
                -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
                0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
                0 0 1em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 60%, 0.5),
                0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
                0 0 1em hsla(320, 100%, 50%, 0.2),
                0 0 0.125em hsla(320, 100%, 60%, 0.3),
                1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

}



.otti {
    margin: auto;
    font-size: 15px;
    font-weight: 100;
    animation: lights 5s 750ms linear infinite;
}




.didascalia {
    position: absolute;
    top:25%;
    left: 2%;
    font-size: 2.1vw;
    color:white;
    font-weight: bold;
    font-family: "Anonymous Pro", monospace;
    letter-spacing: 5px;
    animation: slideInX 2s ease-out, slideInY 2s ease-out;
}


@keyframes slideInX {
    from {
        transform: translateX(-100%); /* Parte da fuori dalla vista, a sinistra */
    }
    to {
        transform: translateX(0); /* Arriva alla posizione originale */
    }
}

@keyframes slideInY {
    from {
        transform: translateY(-100%); /* Parte da fuori dalla vista, sopra */
    }
    to {
        transform: translateY(0); /* Arriva alla posizione originale */
    }
}

.bottone{
    text-align: center;
    font-size: 71px;
    font-weight: bold;
    font-family: "Agency FB";
}


@media (max-width: 768px) {
    .animation {
        width: 100%;
        left: 0;
    }

    .string {
        white-space: normal;
    }

    .bottone,
    .login,
    .signup {
        font-size: 4vw;
        padding: 2vw 4vw;
    }
}